# Archieve
Archieve/
*.yml
*.pdf
*.tex
!master.yml
!master_version_conf.*
!config.*
!config_manual.yml

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
